* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #34495e;
  padding: 17px 25px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-brand h1 {
  color: #ecf0f1;
  margin: 0;
  font-size: 40px;
}

.navbar-links a {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 20px;
  font-size: 25px;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #e74c3c;
}

@media (max-width: 768px) {
  .navbar {
    height: 50px;
  }

  .container-home {
    padding-top: 50px;
  }
}

body {
  background-image: url('https://img.freepik.com/free-vector/gradient-background-wave-minimalist-style-design_483537-3860.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  height: 100vh;
  margin: 0;
  color: #ecf0f1;
}
pre {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  text-align: center;
  padding: 20px;
  max-width: 850px;
  width: 100%;
  background-color: #34495e;
  padding-top: 100px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-bottom: 25px;
  color: #ecf0f1;
}

.images-wrapper {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.image-container {
  width: 47.5%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #7f8c8d;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  padding: 15px 30px;
  background-color: #e74c3c;
  color: #ecf0f1;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.custom-file-upload:hover {
  background-color: #c0392b;
}

.button-container {
  margin-top: 20px;
  text-align: center;
}

button {
  padding: 15px 30px;
  font-family: 'Itim', cursive;
  font-size: 20px;
  background-color: #e74c3c;
  color: #ecf0f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin: 0 10px;
}

button:hover {
  background-color: #8f2c21;
}

a {
  text-decoration: none;
}

a button {
  background-color: #27ae60;
}

a button:hover {
  background-color: #229954;
}

.input-url {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 2px solid #7f8c8d;
}

.notification {
  display: none;
  position: fixed;
  top: 30px;
  right: 35px;
  padding: 25px;
  background-color: #e74c3c;
  color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

.container-home {
  padding-top: 70px;
}

/* General styles for the About and Contact sections */
#aboutContent, #contactContent {
  text-align: left;
  background-color: #5a646e52;
  padding: 50px;
  border-radius: 10px;
  color: #ecf0f1;
  margin: 20px;
}

#aboutContent h1, #contactContent h1 {
  font-size: 2.5rem;
  margin-bottom: 7px;
  color: #399fff;
  text-shadow: 2px 3px 4px hsla(0, 0%, 10%, 0.699);
}

#aboutContent p{
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 10px;
  padding-top: 5px;
}
#contactContent p{
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 10px;
}

#contactContent ul {
  list-style-type: none;
  padding-left: 20px;
}

#contactContent ul li {
  margin-bottom: 10px;
  margin-left: 20px;

}

#contactContent ul a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

#contactContent ul a:hover {
  color: #e74c3c;
}

/* Container to hold both sections in the middle */
.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 20px;
}

/* Margin to ensure content does not touch edges */
.container > div {
  margin-bottom: 20px;
}

/* About and Contact content alignment */
#aboutContent p, #contactContent p, #contactContent ul {
  padding-left: 20px;
}

.name{
  color: #fcd62d;
}


.ig{
  max-width: 30px;
  max-height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 60px;
  margin-top: 10px;
}
  
.igb{
  max-width: 30px;
  max-height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 80px;
  margin-top: 10px;
}
  
.ling {
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
}

.facebook{
  max-width: 55px;
  max-height: 55px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 71px;
  margin-top: 10px;
}

.facebookb{
  max-width: 55px;
  max-height: 55px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 43px;
}

.facebookbig{
  max-width: 55px;
  max-height: 55px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 75px;
}

.fbook{
  display: inline-block;
  vertical-align: middle;
  margin-top: 20px;
}
.responsibility{
  padding-left: 20;

}


/* For better responsiveness on mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .images-wrapper {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
  }

  #aboutContent, #contactContent {
    padding: 15px;
  }
}
